.DS_Store
Thumbs.db
Desktop.ini

.idea/
*.iml
.vscode/
*.launch
.settings/
.classpath
.project
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

target/
*.class
*.log
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

node_modules/

dist/
out/
build/

.angular/

npm-debug.log
yarn-error.log
